.titulo{
    color: aqua;
}
.contenido{
    margin-top: 40px;
}
.principal{
    text-align: center;
}

.entrar{
    width: 80%;
    /* color: aliceblue;
    background-color: blue; */
    margin-left: 10%;
}
.vertical-separator {
    /* position: relative; */
      margin-top: 10%;
  }

  .pointer{
      cursor: pointer;
  }
