<div class="navbar navbar-expand-lg navbar-dark bg-success">
  <h1 class="mx-auto">Añadir nuevo alojamiento</h1>
</div>

<div class="persondiv">
  <table>
    <tr>
      <td>
        <label>Nombre</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="Nombre:" [(ngModel)]="value" >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
      </td>
  </tr>
  <tr>
    <td>
    <mat-form-field class="personinput">
        <mat-label>Provincia</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>
    </td>
    <td>
    <mat-form-field class="personinput">
        <mat-label>Provincia</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
      <td>
        <label>Telefono</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="Telefono:" [(ngModel)]="value" >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>2º Telefono</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="2º Telefono:" [(ngModel)]="value" >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>Correo</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="Correo:" [(ngModel)]="value" >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
      </td>
  </tr>
  <tr>
    <td colspan="2">
    
    </td>
  </tr>
  </table>
</div>