<div class="navbar navbar-expand-lg navbar-dark bg-success">
  <h1 class="mx-auto">Añadir nuevo alojamiento</h1>
</div>

<form [formGroup]="formNuevoAlojamiento" (ngSubmit)="anadirAlojamiento()">
<div class="persondiv">
  <table style="width: 100%;">
    <tr>
      <td>
        <label>Nombre</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="Nombre:" formControlName="nombre">
      <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <div *ngIf="submitted && f.nombre.errors" class="fallo-formulario">
        *Este campo es obligatorio
    </div>
      </td>
  </tr>
  <tr>
    <td>
    <mat-form-field class="personinput">
        <mat-label>Provincia</mat-label>
        <mat-select (selectionChange)="cargarLocalidad($event.value)" formControlName="provincia">
          <mat-option *ngFor="let provincia of provincias" [value]="provincia.Id_provincia">{{ provincia.provincia }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="submitted && f.provincia.errors" class="fallo-formulario">
        *Este campo es obligatorio
    </div>
    </td>
    <td>
    <mat-form-field class="personinput">
        <mat-label>Localidad</mat-label>
        <mat-select formControlName="localidad">
          <mat-option *ngFor="let localidad of localidades" [value]="localidad.id_localidad">{{ localidad.municipio }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="submitted && f.localidad.errors" class="fallo-formulario">
          *Este campo es obligatorio
      </div>
    </td>
  </tr>
  <tr>
      <td>
        <label>Telefono</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="number" placeholder="Telefono:" formControlName="telefono">
      <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <div *ngIf="submitted && f.telefono.errors" class="fallo-formulario">
        *Este campo es obligatorio
    </div>
      </td>
  </tr>
  <tr>
      <td>
        <label>2º Telefono</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input type="number" matInput type="number" placeholder="2º Telefono:" formControlName="telefono2">
      <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>Correo</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="Correo:" formControlName="correo">
      <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <div *ngIf="submitted && f.correo.errors" class="fallo-formulario">
        *Correo no válido
    </div>
      </td>
  </tr>
  <tr>
    <td>
      <label>Precio por noche</label>
    </td>
    <td>
  <mat-form-field class="personinput">
    <input type="number" matInput type="number" placeholder="Precio:" formControlName="precio">
    <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>
  <div *ngIf="submitted && f.precio.errors" class="fallo-formulario">
      *Este campo es obligatorio
  </div>
    </td>
</tr>
<tr>
  <td>
    <label>Nº de plazas</label>
  </td>
  <td>
<mat-form-field class="personinput">
  <input type="number" matInput type="number" placeholder="Nº de plazas" formControlName="plazas">
  <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button> -->
</mat-form-field>
<div *ngIf="submitted && f.plazas.errors" class="fallo-formulario">
    *Este campo es obligatorio
</div>
  </td>
</tr>
<tr>
    <td colspan="2">
        <angular-editor formControlName="descripcion" style="width: 100%" [config]="config"></angular-editor>
        <div *ngIf="submitted && f.descripcion.errors" class="fallo-formulario">
            *Este campo es obligatorio
        </div>
    </td>
  </tr>
  <tr>
      <td colspan="2">
          <button mat-button type="submit">
              Añadir
          </button>
      </td>
    </tr>
</table>
</div>
<div class="divimagenes">
    <div>

        <img *ngFor='let url of urls' [src]="url" height="200px" width="100%">

        <div *ngIf="submitted && urls.length == 0" class="fallo-formulario">
            *Debe de haber como mínimo una imagen
        </div>
        
        <div *ngIf="urls.length < 5">
        
            <input id="cameraImg" type='file' (change)="onSelectFile($event)" multiple >
            <div class="browse-image center">
                <img src="../../../assets/iconos/camara.png" width="80%" />
            </div>
        </div>
        </div>
</div>
</form>


