.persondiv{
    position: absolute;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 20%;

}

.divimagenes{
    position: absolute;
    width: 18%;
    margin-left: 62%;
    margin-top: 2%;
}

td{
    text-align: left;
    padding: 10px;
}

.personinput{
    width: 70%;
}

.browse-btn {

    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
}
.browse-image {
    position: relative;
}

#cameraImg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 3;
}

.personboton{
    position: absolute;
    bottom: 3%;
    left: 45%;
    width: 10%
}

button{
    width: 100%;
}