<div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar">
    <div>
        <h5 class="icono">
          Alrur
        </h5>
      </div>
  <h1 class="mx-auto">Añadir nuevo alojamiento</h1>
  <div style="margin-left: 10%; cursor: pointer;" *ngIf="token != ''" (click)="cerrarSesion()">
    <h5>cerrar sesión</h5>
  </div>
</div>

<form [formGroup]="formNuevoAlojamiento" (ngSubmit)="anadirAlojamiento()">
<div class="persondiv">
  <table style="width: 100%;">
    <tr>
      <td>
        <label>Nombre:*</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="" formControlName="nombre">
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
          <label>Provincia:*</label>
      </td>
    <td>
    <mat-form-field class="personinput">
        <mat-select (selectionChange)="cargarLocalidad($event.value)" formControlName="provincia">
          <mat-option *ngFor="let provincia of provincias" [value]="provincia.Id_provincia">{{ provincia.provincia }}</mat-option>
        </mat-select>
    </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
        <label>Localidad:*</label>
    </td>
    <td>
        <mat-form-field class="personinput">
            <mat-select formControlName="localidad">
              <mat-option *ngFor="let localidad of localidades" [value]="localidad.id_localidad">{{ localidad.municipio }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
  </tr>
  <tr>
      <td>
        <label>Dirección:*</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="" formControlName="direccion">
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>Telefono:*</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="number" placeholder="" formControlName="telefono">
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>2º Telefono</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input type="number" matInput type="number" placeholder="" formControlName="telefono2">
    </mat-form-field>
      </td>
  </tr>
  <tr>
      <td>
        <label>E-mail*:</label>
      </td>
      <td>
    <mat-form-field class="personinput">
      <input matInput type="text" placeholder="" formControlName="correo">
    </mat-form-field>
    <div *ngIf="submitted && f.correo.errors && correoValue !== null" class="fallo-formulario">
        *E-mail no válido
    </div>
      </td>
  </tr>
  <tr>
    <td>
      <label>€/noche:*</label>
    </td>
    <td>
  <mat-form-field class="personinput">
    <input type="number" matInput type="number" placeholder="" formControlName="precio">
  </mat-form-field>
    </td>
</tr>
<tr>
  <td>
    <label>Nº de plazas:*</label>
  </td>
  <td>
<mat-form-field class="personinput">
  <input type="number" matInput type="number" placeholder="" formControlName="plazas">
</mat-form-field>
  </td>
</tr>
<tr>
    <td colspan="2">
        <angular-editor formControlName="descripcion" style="width: 100%" [config]="config"></angular-editor>
    </td>
  </tr>
  <tr>
      <td colspan="2">
          <button mat-button type="submit">
              Añadir
          </button>
      </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="center" style="margin-top: 20px;" *ngIf="submitted">
                <h6 class="fallo-formulario center">*Estos campos son obligatorios</h6>
                </div>
        </td>
      </tr>
</table>
</div>
<div class="divimagenes">
    <div>

        <img *ngFor='let url of urls' [src]="url" height="200px" width="100%" style="margin-top: 10px">

        <div *ngIf="submitted && urls.length == 0" class="fallo-formulario">
            *Debe de haber como mínimo una imagen
        </div>
        
        <div *ngIf="urls.length < 5">
        
            <input id="cameraImg" type='file' (change)="onSelectFile($event)" multiple >
            <div class="browse-image center">
                <img src="../../../assets/iconos/camara.png" width="80%" />
            </div>
        </div>
        </div>
</div>
</form>


