<diV>
<mat-toolbar color="primary" class="mat-toolbar" >  
  <mat-toolbar-row  >
    
      <img src="../../../assets/iconos/casa_rural.png" class="icono">

      <span class="remaining-space"></span>
        <mat-form-field>
            <mat-label>Provincia</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          
          <span class="space"></span>
   
        <mat-form-field>
            <mat-label>Nº Plazas</mat-label>
            <mat-select [(value)]="selected2">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          
          <!-- <span class="space"></span>
   
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span class="space"></span>

      <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> -->

        <span class="space"></span>
    
        <button mat-button>
          Buscar
        </button>

    <span class="remaining-space"></span>

    <mat-form-field>
      <mat-label>Iniciar sesión</mat-label>
      <mat-select [(value)]="selected3">
        <mat-option value="viajero" (click)="openDialog()">Viajero</mat-option>
        <mat-option value="propietario">Propietario</mat-option>
      </mat-select>
    </mat-form-field>
    
  
    <!-- <i class="material-icons md-48">face</i> -->
  </mat-toolbar-row>
</mat-toolbar>
</diV>