
<div class="navbar navbar-expand-lg navbar-dark bg-success">
  <img src="../../../assets/iconos/casa_rural.png" class="icono">

  <div class="buscador center">
  <form [formGroup]="formfiltrar" (ngSubmit)="filtrarCasas()">
      <!-- <span class="remaining-space"></span> -->
      <table>
        <tr>
          <td>
        <mat-form-field>
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="provincia">
              <mat-option *ngFor="let provincia of provincias" [value]="provincia.Id_provincia">{{ provincia.provincia}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nº plazas" formControlName="plazas" class="input">
          </mat-form-field>
        </td>
        <td>
          <h6 style="margin-top: 15px;" class="center">Precio máximo</h6>
        <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [vertical]="vertical"
        formControlName="precio">
        </mat-slider>
        </td>
        <td> 
        <button type="submit" mat-button>
          Buscar
        </button>
      </td>
      </tr>
      </table>
      </form>
   
    </div>

    <span class="remaining-space"></span>

    <mat-form-field>
      <mat-label>Iniciar sesión</mat-label>
      <mat-select [(value)]="selected3">
        <mat-option value="viajero" (click)="openDialogViajero()">Viajero</mat-option>
        <mat-option value="propietario" (click)="openDialogPropietario()">Propietario</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div *ngIf="login">
      <h1>{{ usuario }}</h1>
    </div> -->
  </div>