<div class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="mx-auto center" >
    <h1 style="float: left">{{ alojamiento.nombre }}</h1> <span style="bottom: 0;">({{ alojamiento.municipio }}, {{alojamiento.provincia}})</span>
  </div>
</div>

<div class="persondiv">
  <div class="personcarousel">
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade w-100  center" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let imagen of imagenes">
      <img class="d-block personimage" [src]="imagen.imagen">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
  </mdb-carousel-item>
</mdb-carousel>
</div>

<div class="formdisp">  
    <div class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="mx-auto center" >
          <h5>Contactar</h5> 
        </div>
      </div>
      <div style="margin-top: 30px;">
        <form [formGroup]="formdisp" (ngSubmit)="consultarDisp()">
      <mat-form-field class="center">
          <input matInput [matDatepicker]="fechaentrada" placeholder="Fecha de entrada" formControlName="fechaentrada">
          <mat-datepicker-toggle matSuffix [for]="fechaentrada"></mat-datepicker-toggle>
          <mat-datepicker #fechaentrada></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="center">
          <input matInput [matDatepicker]="fechasalida" placeholder="Fecha salida" formControlName="fechasalida">
          <mat-datepicker-toggle matSuffix [for]="fechasalida"></mat-datepicker-toggle>
          <mat-datepicker #fechasalida></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width center" style="margin-top: 30px;">
          <textarea matInput placeholder="Comentarios" formControlName="comentario" ></textarea>
        </mat-form-field>
        <div class="center" style="margin-top: 30px;">
        <button mat-button type="submit">
            Enviar
        </button>
      </div>
      </form>
      </div>
      
</div>

<!-- <div class="formcontact">
  </div> -->


  <div class="datos center">
    <mat-card class="card">
      <mat-card-title class="center">
        Precio
      </mat-card-title>
      <mat-card-content class="center">
        <h5>{{ alojamiento.precio }} €</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" style="margin-left: 10%;">
      <mat-card-title class="center">
        Capacidad
      </mat-card-title>
      <mat-card-content class="center">
        <h5>{{ alojamiento.plazas }} plazas</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" style="margin-left: 10%;">
    <mat-card-title class="center">
      Teléfono
    </mat-card-title>
    <mat-card-content class="center">
      <h5>{{ alojamiento.telefono }}</h5>
    </mat-card-content>
    <mat-card-content class="center" *ngIf="alojamiento.telefono2">
        <h5>{{ alojamiento.telefono2 }}</h5>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="descripcion">
      <p [innerHTML]="alojamiento.descripcion">
      </p>
  </div>
</div>


  

