<div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar">
  <div>
    <h5 class="icono">
      Alrur
    </h5>
  </div>
  
    <div class="buscador center">
    <form [formGroup]="formfiltrar" (ngSubmit)="filtrarCasas()">
        <table>
          <tr>
            <td>
          <mat-form-field>
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provincia">
                <mat-option *ngFor="let provincia of provincias" [value]="provincia.Id_provincia">{{ provincia.provincia}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Nº plazas" formControlName="plazas" class="input">
            </mat-form-field>
          </td>
          <td>
            <h6 style="margin-top: 15px;" class="center">Precio máximo</h6>
          <mat-slider
          color="primary"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [vertical]="vertical"
          formControlName="precio">
          </mat-slider>
          </td>
          <td> 
          <button type="submit" mat-button >
            Buscar
          </button>
        </td>
        </tr>
        </table>
        </form>
     
      </div>
  
      <div style="margin-left: 10%" *ngIf="token == ''">
      <mat-form-field >
        <mat-label>Iniciar sesión</mat-label>
        <mat-select [(value)]="selected3">
          <mat-option value="viajero" (click)="openDialogViajero()">Viajero</mat-option>
          <mat-option value="propietario" (click)="openDialogPropietario()">Propietario</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="margin-left: 10%; cursor: pointer;" *ngIf="token != ''" (click)="cerrarSesion()">
      <h5>cerrar sesión</h5>
    </div>
  
    </div>
<div style="width: 80%; margin-left: 10%; margin-top: 30px;">
<div class="persondiv" *ngFor="let alojamiento of alojamientos" (click)="verAlojamiento(alojamiento.Id_casarural)">
    <mat-card class="example-card" >
        <mat-card-header>
          <mat-card-title>{{ alojamiento.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ alojamiento.municipio }} ({{alojamiento.provincia}})</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="alojamiento.imagen" height="300px">
        <mat-card-content>
          <h5>Plazas: {{ alojamiento.plazas}}</h5>
          <h5>Precio: {{ alojamiento.precio}} €</h5>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>    
</div>
<div *ngIf="alojamientos.length == 0 && spinner == false">
  <h1>No se han encontrado resultados</h1>
</div>
<div style="margin-left: 46%" *ngIf="spinner">
  <mat-progress-spinner
  class="example-margin"
  color="primary"
  mode="indeterminate"
  ></mat-progress-spinner>
</div>
</div>

