.persondiv {
    width: 33%;
    float: left;
    height: 30%;
}
.example-card {
    /* max-width: 100%; */
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    vertical-align: middle;
  }

  .buscador{
    width: 60%;
    margin-left: 20%;
  }

td{
  padding: 10px;
}