<div class="principal" *ngIf="acceder">
        <div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar2">
                <div class="mx-auto center" >
                <h5>Acceder con tu cuenta</h5>
                </div>
            </div>
  <form [formGroup]="formInicio" (ngSubmit)="onSubmitInicio()">
      <mat-dialog-content class="contenido">
          <mat-form-field>
              <input matInput placeholder="Correo electrónico" formControlName="CorreoInicio" class="input">
          </mat-form-field>
          <div *ngIf="submitted && f.CorreoInicio.errors" class="fallo-formulario">
            *Dirección de correo no válida
          </div>
          <mat-form-field>
              <input type="password" matInput placeholder="Contraseña" formControlName="ContrasenaInicio" class="input">
          </mat-form-field>
          <div *ngIf="submitted && f.ContrasenaInicio.errors" class="fallo-formulario">
              *Mínimo 6 carácteres
          </div>
      </mat-dialog-content>
      <mat-dialog-actions class="col-auto" >
          <button mat-button type="submit" class="entrar">
              Entrar
          </button>
      </mat-dialog-actions>
  </form>
  <br>
  <mat-divider></mat-divider>
  <div class="entrar" style="margin-top: 50px;">
      <button mat-button type="button" class=" invert-mat-button" style="width: 100%" (click)="crearCuenta()">
        Crear una cuenta
    </button>
  </div>
  <div class="entrar" style="margin-top: 20px">
      <button mat-button type="button" class="invert-mat-button" style="width: 100%;" (click)="recuperarCuenta()">
        Recuperar contraseña
    </button>
  </div>
</div>

<div class="principal" *ngIf="crear">
        <div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar2">
                <div class="mx-auto center" >
                <h5>Crea una cuenta</h5>
                </div>
            </div>
  <form [formGroup]="formRegistro" (ngSubmit)="onSubmitRegistro()">
      <mat-dialog-content class="contenido">
          <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="NombreRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.NombreRegistro.errors" class="fallo-formulario">
                *Este campo es obligatorio
            </div>
          <mat-form-field>
              <input type="password" matInput placeholder="Contraseña" formControlName="ContrasenaRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.ContrasenaRegistro.errors" class="fallo-formulario">
                *Mínimo 6 carácteres
            </div>
          <mat-form-field>
              <input type="password" matInput placeholder="Repite Contraseña" formControlName="ContrasenaRegistro2" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.ContrasenaRegistro2.errors && !fregistro.ContrasenaRegistro.errors" class="fallo-formulario">
                *Las contraseñas deben de ser iguales
            </div>
          <mat-form-field>
            <input matInput placeholder="NIF o DNI" formControlName="NifRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.NifRegistro.errors" class="fallo-formulario">
                *Este campo es obligatorio
            </div>
          <mat-form-field>
            <input matInput placeholder="Dirección" formControlName="DireccionRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.DireccionRegistro.errors" class="fallo-formulario">
                *Este campo es obligatorio
            </div>
          <mat-form-field>
            <input type="number" matInput placeholder="Teléfono" formControlName="TelefonoRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.TelefonoRegistro.errors" class="fallo-formulario">
                *Este campo es obligatorio
            </div>
          <mat-form-field>
              <input matInput placeholder="Correo electrónico" formControlName="CorreoRegistro" class="input">
          </mat-form-field>
          <div *ngIf="submittedRegistro && fregistro.CorreoRegistro.errors" class="fallo-formulario">
                *Dirección de correo no válida
            </div>
      </mat-dialog-content>
      <mat-dialog-actions>
          <button mat-button type="submit" class="entrar">
              Registrarte
          </button>
      </mat-dialog-actions>
  </form>
</div>

<div class="principal" *ngIf="recuperar">
        <div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar2">
                <div class="mx-auto center" >
                <h5>Recupera tu contraseña</h5>
                </div>
            </div>
    <form [formGroup]="formRecuperar" (ngSubmit)="onSubmitRecuperar()">
        <mat-dialog-content class="contenido">
            <mat-form-field>
                <input matInput placeholder="Correo electrónico" formControlName="CorreoRecuperar" class="input">
            </mat-form-field>
            <div *ngIf="submittedRecuperar && frecuperar.CorreoRecuperar.errors" class="fallo-formulario">
                *Dirección de correo no válida
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button type="submit" class="entrar" style="width: 100%; margin-left: 0">
                Enviar correo de recuperación
            </button>
        </mat-dialog-actions>
    </form>
</div>