<div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar">
    <div>
        <h5 class="icono">
          Alrur
        </h5>
      </div>
  <h1 class="mx-auto">Mis alojamientos</h1>
  <div style="margin-left: 10%; cursor: pointer;" *ngIf="token != ''" (click)="cerrarSesion()">
    <h5>cerrar sesión</h5>
  </div>
</div>
<div style="width: 80%; margin-left: 10%; margin-top: 30px;">
<div class="persondiv" *ngFor="let alojamiento of alojamientos">
    <mat-card class="example-card" >
        <mat-card-header>
          <mat-card-title>{{ alojamiento.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ alojamiento.municipio }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="alojamiento.imagen" height="300px">
        <mat-card-actions style="text-align: right;">
          <button mat-button (click)="eliminarAlojamiento(alojamiento.Id_casarural)">
            <i class="material-icons">
              highlight_off
            </i></button>
        </mat-card-actions>
      </mat-card>
</div>

<div class="persondiv">
  <mat-card class="example-card" style="height: 455px; cursor: default">
    <div style="width: 40%; margin-left: 30%; margin-top: 120px">
      <img mat-card-image src="../../../assets/iconos/añadir_casa.png" (click)="anadirCasa()" style="cursor: pointer">
    </div>
    </mat-card>
</div>
</div>

