<div class="navbar navbar-expand-lg navbar-dark bg-success personnavbar">
  <h1 class="mx-auto">Mis alojamientos</h1>
</div>
<div style="width: 80%; margin-left: 10%; margin-top: 30px;">
<div class="persondiv" *ngFor="let alojamiento of alojamientos">
    <mat-card class="example-card" >
        <mat-card-header>
          <mat-card-title>{{ alojamiento.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ alojamiento.municipio }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="alojamiento.imagen" height="300px">
        <mat-card-actions style="text-align: right;">
          <button mat-button (click)="eliminarAlojamiento(alojamiento.Id_casarural)">
            <i class="material-icons">
              highlight_off
            </i></button>
        </mat-card-actions>
      </mat-card>
</div>

<div class="persondiv" (click)="anadirCasa()">
    <mat-card class="example-card" >
        <img mat-card-image src="../../../assets/iconos/añadir_casa.png" height="440px">
      </mat-card>
</div>
</div>

