.titulo{
    color: aqua;
}
/* 
.contenido{
    position: relative;
    align-items: center;
} */

.principal{
    text-align: center;
}

.entrar{
    width: 100%;
    color: aliceblue;
    background-color: blue;
}

/* .vertical-divider {
      margin-top: 10%;
  } */

  .pointer{
      cursor: pointer;
  }