.titulo{
    color: aqua;
}

.contenido{
    margin-top: 40px;
}

.principal{
    text-align: center;
}

.entrar{
    width: 80%;
    /* color: aliceblue;
    background-color:#3D4EAE; */
    margin-left: 10%;
}

  .pointer{
      cursor: pointer;
  }
