<div class="principal" *ngIf="acceder">
  <h2 mat-dialog-title class="titulo">Acceder con tu cuenta</h2>
  <mat-dialog-content class="contenido"  [formGroup]="form">
      <mat-form-field>
          <input matInput placeholder="Usuario" formControlName="usuario" class="input">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Contraseña" formControlName="contraseña" class="input">
      </mat-form-field>
      <div>
      <h4 class="pointer">¿Olvidaste la contraseña?</h4>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" (click)="save()" class="entrar">Entrar</button>
  </mat-dialog-actions>
  <div>
      <h4 class="pointer" (click)="crearCuenta()">Crea una cuenta</h4>
  </div>
  </div>

  <div class="principal" *ngIf="crear">
    <h2 mat-dialog-title class="titulo">Crea una cuenta</h2>
    <mat-dialog-content class="contenido">
        <mat-form-field>
            <input matInput value="" placeholder="Nombre público" #message class="input">
        </mat-form-field>
        <mat-form-field>
            <input matInput value="" placeholder="Nombre" #message class="input">
        </mat-form-field>
        <mat-form-field>
            <input matInput value="" placeholder="Apellidos" #message class="input">
        </mat-form-field>
        <mat-form-field>
            <input matInput value="" placeholder="Contraseña" #message class="input">
        </mat-form-field>
        <mat-form-field>
            <input matInput value="" placeholder="Correo electrónico" #message2 class="input">
        </mat-form-field>
  
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true" (click)="save()" class="entrar">Registrarse</button>
    </mat-dialog-actions>
    </div>
  